.App {
  /*text-align: center;*/
  margin: 5%;
}

.container {
  display: grid;
  grid-template-areas: 
    'pseudo pseudo nums'
    'methods methods methods';
}

.item {
  grid-area: item;
  text-align: center;
  max-width: 300px;
  display: inline-block;
}

.PseudoForm {
  grid-area: pseudo;
  text-align: center;
  /*display:inline;*/
}

.RandomNums {
  grid-area: nums;
}

.FixedList {
  background-color: rgb(154, 166, 167),
}

.MeansData {
  text-align: left;
  margin-left: 35%;
  margin-right: 25%;
}

.NBAStats {
  /*text-align: center;*/
  margin: 5%;
  display: grid;
  grid-template-areas:
    'title title' 
    'form stats';
}

.StatsTitle {
  text-align: center;
  grid-area: title;
}

.StatsForm {
  /*text-align: center;*/
  grid-area: form;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
